# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env
.env.*
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage*
*.cover
.hypothesis/

# Type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# IDEs and editors
.idea/
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
